* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    padding: 20px;
}

h1 {
    color: #2c3e50;
    font-size: 2.5em;
    text-align: center;
    margin: 20px 0;
}

h2 {
    color: #3998db;
    font-size: 1.5em;
    margin: 30px 0 15px;
}

h3 {
    color: #27ae60;
    margin: 15px 0 10px 0;
}

nav ul {
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
}

nav li {
    margin: 5px 0;
}

main {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    margin: 20px 0;
}
table {
    width: 100%;
    margin: 20px;
    background-color: white;
}

th {
    background-color: rgb(55, 55, 157);
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    text-align: center;
}

input, textarea {
    border: 2px solid ;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

code {
    background-color: gold;
    padding: 5px;
    border-radius: 3px;
    color: black;
}

footer {
    background-color: #34495se;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
}
